body{
    background-color: rgba(168, 154, 154, 0.938);
}

.jumbotron{
    height: 400px;
    width: 100%;
    margin-bottom: 0;
}
.jumbotron-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://jooron.github.io/Kuvat/kuva2.jpg');
  }
  
footer {
    background-color: rgb(143, 156, 117);
    padding: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
    height: 55px;
    clear: both;
    font-family: 'Courier New', monospace;
  }
.no-gutter{
    margin-top: 0;
    padding-bottom:0;
}

.nav-link{
    color: rgb(0, 0, 0);
}

.fl{
    color: rgb(16, 24, 129);
}

.kuva{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://jooron.github.io/Kuvat/paperi3.jpg');
    width: 100%;
    margin-left: 0;
}
.kartta{
    padding: 20px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 20px;
    font-weight: bold;
}

.carousel-inner img {
    width: 100%;
  }

.carousel-control-next-icon,
.carousel-control-prev-icon {
    filter: invert(1);
  }

.kolmas{
    font-size:5vw;
}
.responsive {
    width: 100%;
    height: auto;
  }
.toka{
    background-color: rgb(233, 225, 225);
}
.nappi{
    max-width: 200px;
}
.tyyli1{
    font-family: 'Brush Script MT', cursive;
    font-size: 22px;
}
.tyyli2{
    font-family: Garamond, serif;
}
.tyyli3{
    font-family: 'Times New Roman', serif;
}
iframe{
    width: 100%;
    height: 350px;
    margin: 0;
    padding: 0;
    border: none;
}
.te {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }